<template>
  <v-app>
    <UserAdvertisements />
  </v-app>
</template>

<script>
import UserAdvertisements from '@/components/UserAdvertisements.vue'

export default {
  name: 'Board',
  components: {
    UserAdvertisements,
  },
}
</script>
