<template>
  <v-app>
    <v-row>
      <v-col>
        <Advertisements />
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import Advertisements from '@/components/Advertisements.vue'

export default {
  name: 'Home',
  components: {
    Advertisements,
  },
}
</script>
