<template>
  <v-app>
    <h1 v-if="currentUser" class="post-title">
      Municipalidad {{ currentUser.municipio }}
    </h1>
    <div>
      <template>
        <v-row>
          <v-col cols="12" sm="6" md="4" class="mx-auto">
            <v-dialog ref="dialog" v-model="modal" persistent width="290px">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateRange"
                  label="Selecciona un rango de fechas a filtrar"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  class="col-12"
                >
                </v-text-field>
              </template>
              <v-date-picker v-model="dates" locale="es" range>
                <v-btn
                  depressed
                  color="primary"
                  @click="obtenerPublicacionesJuntaVecinal"
                >
                  Filtrar
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn depressed color="primary" @click="modal = false">
                  Cerrar
                </v-btn>
              </v-date-picker>
            </v-dialog>
          </v-col>
        </v-row>
      </template>

      <div v-if="fetchingJV === 'FETCHING'">
        <p class="text-center">Loading...</p>
      </div>
      <div v-if="fetchingJV === 'ERROR'">
        <p class="text-center">Error</p>
      </div>
      <div v-if="fetchingJV === 'FETCHED'">
        <h2 class="post-title">
          Resultados del filtro...
        </h2>
        <v-expansion-panels multiple>
          <v-expansion-panel>
            <v-expansion-panel-header
              >Ranking de las juntas vecinales con más publicaciones por día
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Fecha
                      </th>
                      <th class="text-left">
                        Junta Vecinal
                      </th>
                      <th class="text-left">
                        Número de Publicaciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(rankingJVD,
                      k) in rankingJV.ranking_publicacion_por_junta_vecinal"
                      :key="k"
                    >
                      <td>{{ rankingJVD.fecha }}</td>
                      <td>{{ rankingJVD.junta_vecinal }}</td>
                      <td>{{ rankingJVD.publicaciones }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>

      <h2 class="post-title">
        Hoy en Olla Vecinal...
      </h2>
      <v-expansion-panels multiple>
        <v-expansion-panel>
          <v-expansion-panel-header
            >Número de publicaciones totales</v-expansion-panel-header
          >
          <v-expansion-panel-content>
            {{ rankingCiudadanos.numero_de_publicaciones }}
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header
            >Ranking de los ciudadanos que más anuncios publican
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Nombre
                    </th>
                    <th class="text-left">
                      Correo Electrónico
                    </th>
                    <th class="text-left">
                      Junta Vecinal
                    </th>
                    <th class="text-left">
                      Número de Publicaciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(ranking, i) in rankingCiudadanos.ranking"
                    :key="i"
                  >
                    <td>{{ ranking.nombre }}</td>
                    <td>{{ ranking.email }}</td>
                    <td>{{ ranking.junta_vecinal }}</td>
                    <td>{{ ranking.publicaciones }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header
            >Ranking de las juntas vecinales con más
            publicaciones</v-expansion-panel-header
          >
          <v-expansion-panel-content>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Junta Vecinal
                    </th>
                    <th class="text-left">
                      Número de Publicaciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(rankingPJV,
                    j) in rankingCiudadanos.ranking_publicacion_por_junta_vecinal"
                    :key="j"
                  >
                    <td>{{ rankingPJV.junta_vecinal }}</td>
                    <td>{{ rankingPJV.publicaciones }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
import Vue from 'vue'
import VueToast from 'vue-toast-notification'
import 'vue-toast-notification/dist/theme-sugar.css'

Vue.use(VueToast)

export default {
  name: 'MetricsView',
  computed: {
    dateRange() {
      return this.dates.join(' ~ ')
    },
    ...mapState('municipality', [
      'rankingCiudadanos',
      'rankingJV',
      'fetchingJV',
    ]),
  },
  data: () => ({
    modal: false,
    currentUser: null,
    session: false,
    dates: [],
    data: {
      id_admin: '',
    },
  }),
  mounted() {
    if (localStorage.getItem('session')) {
      let rol = JSON.parse(localStorage.getItem('session')).rol
      if (rol !== Role.Municipalidad) {
        this.$router.push('/login')
      } else {
        this.session = true
        this.currentUser = JSON.parse(localStorage.getItem('session'))
        this.data.id_admin = this.currentUser.id
        this.$store.dispatch('municipality/postRanking', this.data)
      }
    }
    if (sessionStorage.getItem('session')) {
      let rol = JSON.parse(sessionStorage.getItem('session')).rol
      if (rol !== Role.Municipalidad) {
        this.$router.push('/login')
      } else {
        this.session = true
        this.currentUser = JSON.parse(sessionStorage.getItem('session'))
        this.data.id_admin = this.currentUser.id
        this.$store.dispatch('municipality/postRanking', this.data)
      }
    }
    if (
      !sessionStorage.getItem('session') &&
      !localStorage.getItem('session')
    ) {
      this.$router.push('/login')
    }
  },
  methods: {
    obtenerPublicacionesJuntaVecinal() {
      this.modal = false
      if (this.dates.length < 2) {
        Vue.$toast.error('No has seleccionado el rango de fechas!', {
          position: 'top-right',
        })
        return
      }
      let data = {
        id_admin: this.data.id_admin,
        fecha_inicio: this.dates[0],
        fecha_fin: this.dates[1],
      }
      this.$store.dispatch('municipality/postRankingJV', data)
    },
  },
}
</script>
