<template>

  <v-app id="advertisements">
    <div class="row">
      <div class="d-none d-lg-block col-lg-2">
        <v-list two-line subheader class="filters">
          <v-subheader id="sub">
            <p class="search-title my-auto">
              Selecciona Categorías
            </p>
            <v-spacer></v-spacer>
          </v-subheader>
          <v-container class="options">
            <div v-for="(categoria, index) in categories" :key="index">
              <v-checkbox
                v-model="categorias"
                :value="categoria"
                :label="categoria"
                :disabled="haFiltrado"
              ></v-checkbox>
            </div>
          </v-container>
          <v-container>
            <v-btn
              class="my-2"
              block
              @click="filtrar"
              depressed
              color="primary"
              :disabled="haFiltrado"
            >
              Filtrar
            </v-btn>
            <v-btn
              class="my-2"
              block
              @click="limpiarFiltro"
              depressed
              color="error"
            >
              Limpiar Filtro
            </v-btn>
          </v-container>
        </v-list>
      </div>
      <div class="col-lg-8">
        <v-container>
          <!-- Realizar buscador -->
          <template>
            <v-form class="d-lg-none">
              <div class="row">
                <div class="col-12 col-md-8">
                  <v-combobox
                    v-model="categorias"
                    :items="categories"
                    label="Selecciona Categorías"
                    multiple
                    outlined
                    dense
                    :disabled="haFiltrado"
                  ></v-combobox>
                </div>
                <div class="col-12 col-md-4">
                  <v-btn
                    class="my-1"
                    block
                    @click="filtrar"
                    depressed
                    color="primary"
                    :disabled="haFiltrado"
                  >
                    Filtrar
                  </v-btn>
                  <v-btn
                    class="my-1"
                    block
                    @click="limpiarFiltro"
                    depressed
                    color="error"
                  >
                    Limpiar Filtro
                  </v-btn>
                </div>
              </div>
            </v-form>
          </template>

          <div class="products row">
            <article
              class="col-sm-6 col-md-4 col-xl-3"
              v-for="advertisement in advertisements"
              :key="advertisement.id"
            >
              <v-card class="product mx-auto">
                <v-img
                  height="250"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
                  v-if="advertisement.urls.length === 0"
                ></v-img>
                <splide :options="optionsSplide" v-else :images="advertisement.urls" has-slider-wrapper>
                  <splide-slide v-for="image in advertisement.urls" :key="image">
                    <img :src="image">
                  </splide-slide>
                </splide>
                <div
                  v-if="advertisement.promocion.porcentaje"
                  class="hexagon discount palpitar"
                >
                <p>{{ advertisement.promocion.porcentaje * 100 }}%</p>
                </div>
                <router-link
                  :to="{ name: 'Post', params: { id: advertisement.id } }"
                  ><v-card-title class="h2 title">{{
                    advertisement.titulo
                  }}</v-card-title></router-link
                >
                <div class="columns prices">
                  <div class="column my-auto p-0">
                    <v-card-text
                      v-if="
                        advertisement.monto &&
                          Object.keys(advertisement.monto).length > 0
                      "
                      class="price py-0"
                    >
                      <v-chip
                        class="ma-2 precio"
                        color="azul"
                        label
                        text-color="white"
                      >
                        <span
                          v-if="advertisement.promocion.porcentaje"
                          class="tachado"
                          >>{{ advertisement.monto | formatMoney }}</span
                        >
                        <span v-else>{{
                          advertisement.monto | formatMoney
                        }}</span>
                      </v-chip>
                    </v-card-text>
                  </div>
                  <div
                    v-if="advertisement.promocion.porcentaje &&
                        advertisement.monto &&
                        Object.keys(advertisement.monto).length > 0
                    "
                    class="column p-0"
                  >
                    <v-chip
                      class="ma-2 precio precio-oferta"
                      color="orange"
                      label
                      text-color="white"
                    >
                      {{
                        (advertisement.monto *
                          (1 - advertisement.promocion.porcentaje))
                          | formatMoney
                      }}
                    </v-chip>
                  </div>
                </div>

                <div class="mx-4 description">
                  <p>{{ advertisement.descripcion }}</p>
                  <v-icon v-if="advertisement.userLikeAnuncio">
                    favorite
                  </v-icon>
                  <v-icon v-else>
                    favorite_border
                  </v-icon>
                  {{advertisement.contadorLikes}}
                </div>

                <v-divider class="my-1 mx-4"></v-divider>

                <v-card-actions>
                  <v-btn
                    block
                    color="primary"
                    depressed
                    :to="{ name: 'Post', params: { id: advertisement.id } }"
                  >
                    Detalles
                  </v-btn>
                </v-card-actions>
              </v-card>
            </article>
          </div>
        </v-container>
      </div>
    </div>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
import Vue from 'vue'
import VueToast from 'vue-toast-notification'
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import 'vue-toast-notification/dist/theme-sugar.css'
import '@splidejs/splide/dist/css/themes/splide-default.min.css'

Vue.use(VueToast)

export default {
  components: {
    Splide,
    SplideSlide
  },
  name: 'Advertisements',
  computed: {
    ...mapState('advertisements', ['advertisements', 'advertisementsFetching']),
    ...mapState('newAdvertisement', ['categories', 'categoriesFetching']),
  },
  data: () => ({
    categorias: [],
    agregarDescuento: false,
    advertisementsOriginal: [],
    haFiltrado: false,
    usuario: {
      id_usuario: ''
    },
    optionsSplide: {
      type: 'loop',
      pagination: true,
      rewind: true,
      autoplay: true,
      arrows: false,
      lazyLoad: 'nearby'
    }
  }),
  mounted() {
    if (localStorage.getItem('session')) {
      let rol = JSON.parse(localStorage.getItem('session')).rol
      let id = JSON.parse(localStorage.getItem('session')).id
      if (rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.usuario.id_usuario = id
        this.$store.dispatch('advertisements/getAdvertisements', this.usuario)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else if (sessionStorage.getItem('session')) {
      let rol = JSON.parse(sessionStorage.getItem('session')).rol
      let id = JSON.parse(sessionStorage.getItem('session')).id
      if (rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.usuario.id_usuario = id
        this.$store.dispatch('advertisements/getAdvertisements', this.usuario)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    filtrar() {
      if (this.categorias.length === 0) {
        Vue.$toast.error('No has seleccionado una categoria!', {
          position: 'top-right',
        })
        return
      }
      this.haFiltrado = true
      let filtradosDuplicados = []
      let filtrados = []

      if (this.advertisementsOriginal.length === 0) {
        // Almaceno el valor original de advertisements
        this.advertisementsOriginal = this.advertisements
        for (let i = 0; i < this.advertisements.length; i++) {
          let categoriasAd = this.advertisements[i].categorias
          for (let j = 0; j < categoriasAd.length; j++) {
            let categoria = categoriasAd[j]
            for (let k = 0; k < this.categorias.length; k++) {
              if (categoria === this.categorias[k]) {
                filtradosDuplicados.push(this.advertisements[i])
              }
            }
          }
        }
      } else {
        for (let i = 0; i < this.advertisementsOriginal.length; i++) {
          let categoriasAd = this.advertisementsOriginal[i].categorias
          for (let j = 0; j < categoriasAd.length; j++) {
            let categoria = categoriasAd[j]
            for (let k = 0; k < this.categorias.length; k++) {
              if (categoria === this.categorias[k]) {
                filtradosDuplicados.push(this.advertisementsOriginal[i])
              }
            }
          }
        }
      }
      filtradosDuplicados.forEach((fd) => {
        if (!filtrados.includes(fd)) {
          filtrados.push(fd)
        }
      })
      this.$store.dispatch('advertisements/postDatosFiltrados', filtrados)
    },
    limpiarFiltro() {
      this.$store.dispatch('advertisements/getAdvertisements', this.usuario)
      // Limpiamos el valor original de advertisements
      this.advertisementsOriginal = []
      this.categorias = []
      this.haFiltrado = false
    },
  },
}
</script>
