<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.email"
                      :error-messages="emailErrors"
                      label="Correo electrónico"
                      prepend-icon="email"
                      required
                      type="email"
                      class="light"
                      @input="$v.data.email.$touch()"
                      @blur="$v.data.email.$touch()"
                    />
                    <v-text-field
                      v-model="data.password"
                      :error-messages="passwordErrors"
                      label="Contraseña"
                      prepend-icon="lock"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      required
                      class="light"
                      @input="$v.data.password.$touch()"
                      @blur="$v.data.password.$touch()"
                      @click:append="showPassword = !showPassword"
                    />
                    <v-checkbox
                      v-model="stayConnected"
                      label="Permanecer conectado"
                    />
                    <v-btn
                      block
                      @click="logInUser"
                      color="primary"
                      depressed
                      :disabled="
                        emailErrors.length !== 0 ||
                          passwordErrors.length !== 0 ||
                          disabled ||
                          invalid
                      "
                    >
                      Ingresar
                    </v-btn>
                  </v-form>
                </template>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  validations: {
    data: {
      email: { required, email },
      password: { required, minLength: minLength(6) },
    },
  },
  name: 'Login',
  data: () => ({
    stayConnected: false,
    disabled: false,
    data: {
      email: '',
      password: '',
    },
    showPassword: false,
  }),
  mounted() {
    if (localStorage.getItem('session') || sessionStorage.getItem('session')) {
      this.disabled = true
    }
  },
  components: {},
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.data.email.$dirty) return errors
      !this.$v.data.email.email &&
        errors.push('Debe ser un correo electrónico válido')
      !this.$v.data.email.required &&
        errors.push('Correo electrónico requerido')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.data.password.$dirty) return errors
      !this.$v.data.password.required && errors.push('Contraseña requerida')
      !this.$v.data.password.minLength &&
        errors.push('Debe tener como mínimo 6 caracteres')
      return errors
    },
    invalid() {
      return this.data.email === '' || this.data.password === ''
    },
    ...mapState('user', ['logInFetching']),
  },
  methods: {
    logInUser() {
      this.$store.dispatch('user/logInUser', this.data, this.stayConnected)
    },
  },
}
</script>
