<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.titulo"
                      :error-messages="tituloErrors"
                      label="Titulo"
                      required
                      class="light"
                      @input="$v.data.titulo.$touch()"
                      @blur="$v.data.titulo.$touch()"
                    />
                    <v-text-field
                      label="Describe!"
                      id="comments"
                      :error-messages="descripcionErrors"
                      placeholder="Describe tu anuncio"
                      v-model="data.descripcion"
                      required
                      outlined
                      @input="$v.data.descripcion.$touch()"
                      @blur="$v.data.descripcion.$touch()"
                    />
                    <v-combobox
                      v-model="data.categorias"
                      :items="categories"
                      label="Selecciona Categorias"
                      multiple
                      outlined
                      dense
                      :error-messages="categoriasErrors"
                      @input="$v.data.categorias.$touch()"
                      @blur="$v.data.categorias.$touch()"
                    ></v-combobox>
                    <v-checkbox
                      v-model="ingresaMonto"
                      label="¿Ingresas Monto?"
                    ></v-checkbox>
                    <v-text-field
                      v-model="data.monto"
                      label="Monto"
                      type="text"
                      class="light"
                      v-if="ingresaMonto"
                    />
                    <vue-dropzone class="mb-4" ref="imgDropZone" id="dropzone" :options="dropzoneOptions" @vdropzone-complete="afterComplete"></vue-dropzone>
                    <div v-if="data.urls.length > 0" class="img-div">
                      <figure v-for="image in data.urls" :key="image" class="img-container">
                        <img :src="image">
                      </figure>
                    </div>
                    <v-btn
                      block
                      @click="crearAnuncio"
                      depressed
                      color="primary"
                      :disabled="
                        tituloErrors.length !== 0 ||
                          descripcionErrors.length !== 0 ||
                          categoriasErrors.length !== 0 ||
                          invalid
                      "
                    >
                      Crear Anuncio
                    </v-btn>
                  </v-form>
                </template>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import firebase from 'firebase'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
let uuid = require('uuid')

export default {
  components: {
    vueDropzone: vue2Dropzone
  },
  mixins: [validationMixin],
  validations: {
    data: {
      titulo: { required },
      descripcion: { required },
      categorias: { required },
    },
  },
  name: 'NewAdvertisement',
  data: () => ({
    ingresaMonto: false,
    data: {
      id: '',
      monto: '',
      titulo: '',
      descripcion: '',
      categorias: [],
      urls: []
    },
    dropzoneOptions: {
      url: "https://httpbin.org/post",
      thumbnailWidth: 250,
      thumbnailHeight: 250,
      addRemoveLinks: true,
      acceptedFiles: ".jpg, .jpeg, .png",
      dictDefaultMessage: `<p class='text-default'><i class='fa fa-cloud-upload mr-2'></i>Arrastra imágenes o haz clic aquí</p><p class='form-text'>Archivos permitidos: .jpg, .jpeg, .png</p>`
    },
  }),
  computed: {
    tituloErrors() {
      const errors = []
      if (!this.$v.data.titulo.$dirty) return errors
      !this.$v.data.titulo.required && errors.push('Título requerido')
      return errors
    },
    descripcionErrors() {
      const errors = []
      if (!this.$v.data.descripcion.$dirty) return errors
      !this.$v.data.descripcion.required && errors.push('Descripción requerida')
      return errors
    },
    categoriasErrors() {
      const errors = []
      if (!this.$v.data.categorias.$dirty) return errors
      !this.$v.data.categorias.required &&
        errors.push('Categoría(s) requerida(s)')
      return errors
    },
    invalid() {
      return (
        this.data.titulo === '' ||
        this.data.descripcion === '' ||
        this.data.categorias.length === 0
      )
    },
    ...mapState('newAdvertisement', ['categories', 'categoriesFetching']),
  },
  mounted() {
    if (localStorage.getItem('session')) {
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id = String(session.id)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else if (sessionStorage.getItem('session')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id = String(session.id)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    crearAnuncio() {
      this.$store.dispatch('newAdvertisement/postNewAdvertisement', this.data)
    },
    async afterComplete(upload) {
      const imageName = uuid.v1()
      this.isLoading = true
      try {
        // Save Image
        let file = upload
        const metaData = {
          contentType: "image/png"
        }
        const storage = firebase.storage()
        const storageRef = storage.ref()
        const imageRef = storageRef.child(`images/${imageName}.png`)
        await imageRef.put(file, metaData)
        const downloadUrl = await imageRef.getDownloadURL()
        this.data.urls.push(downloadUrl)
      } catch (error) {
        console.error(error)
      }
      this.$refs.imgDropZone.removeFile(upload)
    }
  }
}
</script>

<style>
  .img-div {
    display: block;
    margin: 30px 0;
    height: 500px;
    overflow-y: scroll;
  }
  .img-container {
    margin: 0 30px;
  }
  .img-container img {
    height: 100%;
  }
</style>