<template>
  <v-container grid-list-xs>
    <div class="row">
      <div class="col-6">
        <v-img
          height="250"
          src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
          v-if="advertisement.urls.length === 0"
        ></v-img>
        <splide :options="optionsSplide" v-else :images="advertisement.urls" has-slider-wrapper>
          <splide-slide v-for="image in advertisement.urls" :key="image">
            <img :src="image">
          </splide-slide>
        </splide>
      </div>

      <div class="col-6">
        <div class="column content is-medium text-left">
          <h1 style="text-align:left">{{ advertisement.titulo }}</h1>


          <div class="columns">
            <div
              v-if="
                advertisement.monto && Object.keys(advertisement.monto).length > 0
              "
            >
              <div class="column">
                <v-chip class="ma-2 precio" color="azul" label text-color="white">
                  <span
                    v-if="advertisement.promocion.porcentaje"
                    class="tachado"
                    >{{ advertisement.monto | formatMoney }}</span
                  >
                  <span v-else>{{ advertisement.monto | formatMoney }}</span>
                </v-chip>
              </div>

            </div>
            <div v-if="promotionFetching === 'FETCHED'">
              {{ obtenerDetalleAnuncio() }}
            </div>
          </div>

          <div class="column">
            <div v-if="advertisement.promocion.porcentaje" class="columns">
              <div class="column text-center my-auto">
                <p class="m-0">
                  {{ advertisement.promocion.porcentaje * 100 }}% de descuento
                </p>
              </div>
              <div
                v-if="
                    advertisement.promocion.porcentaje &&
                    advertisement.monto &&
                    Object.keys(advertisement.monto).length > 0
                "
                class="column text-center my-auto"
              >
                <v-chip
                  class="ma-2 precio precio-oferta"
                  color="orange"
                  text-color="white"
                  label
                >
                  {{
                    (advertisement.monto *
                      (1 - advertisement.promocion.porcentaje))
                      | formatMoney
                  }}
                </v-chip>
              </div>
            </div>
            <div v-else class="ma-2">
              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    depressed
                    block
                    v-bind="attrs"
                    v-on="on"
                  >
                    Crear Promocion
                  </v-btn>
                </template>
                <v-card>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field
                            label="Porcentaje*"
                            v-model="dataPromocion.porcentaje"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field
                            label="Duracion Dias*"
                            v-model="dataPromocion.duracion_dias"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>

                    <div class="col-6">
                      <v-btn
                        depressed
                        block
                        color="primary"
                        @click="crearPromocion"
                      >
                        Crear Promocion
                      </v-btn>
                    </div>
                    <div class="col-6">
                      <v-btn
                        depressed
                        block
                        color="error"
                        @click="dialog = false"
                      >
                        Cerrar
                      </v-btn>
                    </div>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
          </div> 
        </div>
        <p>{{ advertisement.descripcion }}</p>
        <v-btn small text @click="cambiarLike()" color="#004780" >
          <span v-if="advertisement.userLikeAnuncio">
            Me gusta! 
            <v-icon >favorite</v-icon>
            {{advertisement.likes}}
          </span>
          
          <span v-else>Dar Me gusta!
            <v-icon  >favorite_border</v-icon>
            {{advertisement.likes}}
          </span>
        </v-btn>
      </div>
    </div>
    <div>
      <p class="post-title text-center"></p>
      <div class="post-detail-container">
        <div class="row text-left">
          <div class="col-lg-6 col-md-12">
            <div
              v-if="
                advertisement.categorias &&
                  Object.keys(advertisement.categorias).length > 0
              "
            >
              <div class="template-line" />
              <label>Categorias</label>
              <div class="categories">
                <v-chip-group
                  v-for="categorias in advertisement.categorias"
                  :key="categorias"
                  active-class="deep-purple accent-4 white--text"
                  column
                >
                  <v-chip class="ma-2" color="azul">{{ categorias }}</v-chip>
                </v-chip-group>
              </div>
            </div>

            <div class="template-line" />
            <div>
              <label>Nombre Publicador</label>
              <p>{{ advertisement.nombre_del_publicador }}</p>
            </div>

            <div class="template-line" />
            <div>
              <label>Telefono</label>
              <p>{{ advertisement.telefono }}</p>
            </div>

            <div class="template-line" />
            <div>
              <label>Fecha de Publicación</label>
              <p>{{ advertisement.fecha_creacion | formatDate }}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="template-line" />
            <div>
              <div v-if="commentFetching === 'FETCHED'">
                {{ obtenerDetalleAnuncio() }}
              </div>
              <label>Realizar comentario</label>
              <v-form class="col-12 mx-auto">
                <v-text-field
                  label="¡Comenta!"
                  id="comments"
                  placeholder="Escribe tu comentario"
                  v-model="data.comentario"
                  outlined
                />
                <v-btn
                  block
                  @click="enviarComentario"
                  depressed
                  color="primary"
                >
                  Enviar
                </v-btn>
              </v-form>
            </div>

            <div
              v-if="
                advertisement.comentarios &&
                  Object.keys(advertisement.comentarios).length > 0
              "
            >
              <div class="template-line" />
              <label>Comentarios de la Publicación</label>
              <div class="comments">
                <div
                  v-for="comentario in advertisement.comentarios
                    .slice(0)
                    .reverse()"
                  :key="comentario"
                >
                  <template>
                    <v-container>
                      <v-row dense>
                        <v-col cols="12">
                          <v-card color="#004780" dark>
                            <v-card-title>
                              {{ comentario.user }}
                            </v-card-title>
                            <v-card-subtitle>
                              {{ comentario.fecha_comentario | formatDate }}
                            </v-card-subtitle>
                            <v-card-subtitle class="comment">
                              {{ comentario.comentario }}</v-card-subtitle
                            >
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-container>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/themes/splide-default.min.css'

export default {
  components: {
    Splide,
    SplideSlide
  },
  name: 'PostDetail',
  data: () => ({
    dialog: false,
    data: {
      id_anuncio: '',
      id_usuario: '',
      comentario: '',
    },
    dataPromocion: {
      id_anuncio: '',
      id_usuario: '',
      porcentaje: '',
      duracion_dias: '',
    },
    dataPost: {
      id: '',
      id_usuario: ''
    },
    optionsSplide: {
      type: 'loop',
      pagination: true,
      rewind: true,
      autoplay: true,
      arrows: true,
      lazyLoad: 'nearby'
    }
  }),
  computed: {
    ...mapState('advertisements', ['advertisement', 'advertisementFetching']),
    ...mapState('comment', ['result', 'commentFetching']),
    ...mapState('promotion', ['promotionFetching']),
  },
  mounted() {
    this.data.id_anuncio = String(this.$route.params.id)
    this.dataPost.id = String(this.$route.params.id)
    this.dataPromocion.id_anuncio = this.$route.params.id

    if (localStorage.getItem('session')) {
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id_usuario = String(session.id)
        this.dataPost.id_usuario = String(session.id)
        this.dataPromocion.id_usuario = String(session.id)
        this.$store.dispatch(
          'advertisements/getAdvertisement',
          this.dataPost
        )
      }
    } else if (sessionStorage.getItem('session')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id_usuario = String(session.id)
        this.dataPost.id_usuario = String(session.id)
        this.dataPromocion.id_usuario = String(session.id)
        this.$store.dispatch(
          'advertisements/getAdvertisement',
          this.dataPost
        )
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    obtenerDetalleAnuncio() {
      this.$store.dispatch(
        'advertisements/getAdvertisement',
        this.dataPost
      )
      this.$store.dispatch('comment/resetValues')
      this.$store.dispatch('promotion/resetValues')
    },
    enviarComentario() {
      this.$store.dispatch('comment/postComment', this.data)
      this.data.comentario = ''
    },
    crearPromocion() {
      this.dialog = false
      this.dataPromocion.porcentaje = String(
        this.dataPromocion.porcentaje / 100
      )
      this.$store.dispatch('promotion/postPromotion', this.dataPromocion)
      this.dataPromocion.porcentaje = ''
      this.dataPromocion.duracion_dias = ''
    },
    cambiarLike(){
      let data = {'idAnuncio':this.data.id_anuncio,
                  'id_usuario':this.data.id_usuario}
      this.$store.dispatch('advertisements/switchOfLike',data)
    },
  },
}
</script>
