<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.nombre"
                      :error-messages="nombreErrors"
                      label="Nombre"
                      prepend-icon="person"
                      class="light"
                      @input="$v.data.nombre.$touch()"
                      @blur="$v.data.nombre.$touch()"
                      required
                    />
                    <v-text-field
                      v-model="data.apellido"
                      :error-messages="apellidoErrors"
                      label="Apellido"
                      prepend-icon="person"
                      class="light"
                      @input="$v.data.apellido.$touch()"
                      @blur="$v.data.apellido.$touch()"
                      required
                    />
                    <v-text-field
                      v-model="data.email"
                      :error-messages="emailErrors"
                      label="Correo electrónico"
                      prepend-icon="email"
                      required
                      type="email"
                      class="light"
                      @input="$v.data.email.$touch()"
                      @blur="$v.data.email.$touch()"
                    />
                    <v-text-field
                      v-model="data.telefono"
                      label="Telefono*"
                      :error-messages="telefonoErrors"
                      :hint="'(+56) 911223344'"
                      prefix="(+56)"
                      maxlength="9"
                      @input="$v.data.telefono.$touch()"
                      @blur="$v.data.telefono.$touch()"
                      required
                    />
                    <v-text-field
                      v-model="data.password"
                      :error-messages="passwordErrors"
                      label="Contraseña"
                      prepend-icon="lock"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      required
                      class="light"
                      @input="$v.data.password.$touch()"
                      @blur="$v.data.password.$touch()"
                      @click:append="showPassword = !showPassword"
                    />
                    <v-btn
                      block
                      @click="signUpUser"
                      depressed
                      color="primary"
                      :disabled="
                        nombreErrors.length !== 0 ||
                          apellidoErrors.length !== 0 ||
                          emailErrors.length !== 0 ||
                          telefonoErrors.length !== 0 ||
                          passwordErrors.length !== 0 ||
                          invalid
                      "
                    >
                      Registrar Vecino
                    </v-btn>
                  </v-form>
                </template>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  validations: {
    data: {
      nombre: { required },
      apellido: { required },
      email: { required, email },
      telefono: { required, minLength: minLength(9) },
      password: { required, minLength: minLength(6) },
    },
  },
  name: 'SignUpForm',
  data: () => ({
    showPassword: false,
    data: {
      nombre: '',
      apellido: '',
      email: '',
      telefono: '',
      password: '',
      nombre_junta_vecinal: '',
      emailJuntaVecinal: '',
      passwdJuntaVecinal: '',
    },
  }),
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.data.email.$dirty) return errors
      !this.$v.data.email.email &&
        errors.push('Debe ser un correo electrónico válido')
      !this.$v.data.email.required &&
        errors.push('Correo electrónico requerido')
      return errors
    },
    apellidoErrors() {
      const errors = []
      if (!this.$v.data.apellido.$dirty) return errors
      !this.$v.data.apellido.required && errors.push('Apellido requerido')
      return errors
    },
    nombreErrors() {
      const errors = []
      if (!this.$v.data.nombre.$dirty) return errors
      !this.$v.data.nombre.required && errors.push('Nombre requerido')
      return errors
    },
    telefonoErrors() {
      const errors = []
      if (!this.$v.data.telefono.$dirty) return errors
      !this.$v.data.telefono.required && errors.push('Teléfono requerido')
      !this.$v.data.telefono.minLength &&
        errors.push('Debe tener exactamente 9 caracteres')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.data.password.$dirty) return errors
      !this.$v.data.password.required && errors.push('Contraseña requerida')
      !this.$v.data.password.minLength &&
        errors.push('Debe tener como mínimo 6 caracteres')
      return errors
    },
    invalid() {
      return (
        this.data.nombre === '' ||
        this.data.apellido === '' ||
        this.data.email === '' ||
        this.data.telefono === '' ||
        this.data.password === ''
      )
    },
    ...mapState('user', ['signUpFetching']),
  },
  mounted() {
    if (localStorage.getItem('session') && localStorage.getItem('login')) {
      let session = JSON.parse(localStorage.getItem('session'))
      let login = JSON.parse(localStorage.getItem('login'))
      this.data.nombre_junta_vecinal = session.junta_vecinal
      this.data.emailJuntaVecinal = login.email
      this.data.passwdJuntaVecinal = login.password
    }
    if (sessionStorage.getItem('session') && sessionStorage.getItem('login')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      let login = JSON.parse(sessionStorage.getItem('login'))
      this.data.nombre_junta_vecinal = session.junta_vecinal
      this.data.emailJuntaVecinal = login.email
      this.data.passwdJuntaVecinal = login.password
    }
  },
  methods: {
    signUpUser() {
      this.$store.dispatch('user/signUpUser', this.data)
      this.data.nombre = ''
      this.data.apellido = ''
      this.data.email = ''
      this.data.telefono = ''
      this.data.password = ''
    },
  },
}
</script>
