<template>
  <v-container grid-list-xs>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">
            Descripción
          </th>
          <th class="text-center">
            Precio Normal (CLP)
          </th>
          <th class="text-center">
            Precio Oferta (CLP)
          </th>
          <th class="text-center">
            Fecha de Creación
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr
          class="table-height"
          v-for="(userAdvertisement, i) in userAdvertisements"
          :key="i"
        >
          <td class="description">{{ userAdvertisement.descripcion }}</td>
          <td class="text-center price">
            {{ userAdvertisement.monto | formatMoney }}
          </td>

          <td
            class="text-center offer-price"
            v-if="
              userAdvertisement.promocion.porcentaje &&
                userAdvertisement.monto &&
                Object.keys(userAdvertisement.monto).length > 0
            "
          >
            {{
              (userAdvertisement.monto *
                (1 - userAdvertisement.promocion.porcentaje))
                | formatMoney
            }}
          </td>
          <td class="text-center price" v-else>-</td>
          <td class="text-center date">
            {{ userAdvertisement.fecha_creacion }}
          </td>
          <td class="text-center to-post">
            <v-btn
              block
              color="primary"
              depressed
              :to="{ name: 'Post', params: { id: userAdvertisement.id } }"
            >
              Ir al anuncio
            </v-btn>
          </td>
        </tr>
      </tbody>
    </table>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'UserAdvertisements',
  computed: {
    ...mapState('advertisements', ['userAdvertisements', 'advertisements']),
  },
  data: () => ({
    usuario: {
      id_usuario: JSON.parse(sessionStorage.getItem('session')).id
    }
  }),
  components: {},
  methods: {},
  mounted() {
    this.$store.dispatch('advertisements/getUserAdvertisements', this.usuario)
  },
}
</script>
