<template>
  <v-app id="app">
    <div class="header columns">
      <div v-if="fetching === 'FETCHED'" class="column is-one-quarter">{{ title }}</div>
      <div v-else class="column is-one-quarter">Anunziao</div>
      <div class="column">
        <div class="columns">
          <router-link v-if="!session" to="/login" class="navbar-item"
            >Iniciar Sesion</router-link
          >
          <router-link
            v-if="isNeighborhoodBoard"
            to="/sign-up"
            class="navbar-item"
            >Registrar Vecino</router-link
          >
          <router-link
            v-if="isNeighbour"
            to="/create-anunziao"
            class="navbar-item"
            >Crear Anuncio</router-link
          >
          <router-link v-if="isNeighbour" to="/publications" class="navbar-item"
            >Mis Anuncios</router-link
          >
          <router-link v-if="isNeighbour" to="/home" class="navbar-item"
            >Anuncios</router-link
          >
          <router-link v-if="isMunicipality" to="/metrics" class="navbar-item"
            >Métricas</router-link
          >
        </div>
      </div>
      <div class="column is-one-quarter">
        <v-btn v-if="session" @click="logOutUser" color="error" depressed>
          Cerrar Sesion
        </v-btn>
      </div>
    </div>
    <router-view></router-view>
    <div v-if="logInFetching === 'FETCHED'">
      {{ setCurrentUser() }}
    </div>
    <div v-if="logInFetching === 'LOGOUT'">
      {{ emptyCurrentUser() }}
    </div>

    <Footer />
  </v-app>
</template>

<script>
import { Role } from './_helpers/role'
import { mapState } from 'vuex'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  data: () => ({
    currentUser: null,
    session: false,
  }),
  computed: {
    isNeighbour() {
      return this.currentUser && this.currentUser.rol === Role.Ciudadano
    },
    isNeighborhoodBoard() {
      return this.currentUser && this.currentUser.rol === Role.JuntaVecinal
    },
    isMunicipality() {
      return this.currentUser && this.currentUser.rol === Role.Municipalidad
    },
    ...mapState('user', ['logInFetching']),
    ...mapState('title', ['title', 'fetching'])
  },
  mounted() {
    if (localStorage.getItem('session')) {
      this.session = true
      this.currentUser = JSON.parse(localStorage.getItem('session'))
    }
    if (sessionStorage.getItem('session')) {
      this.session = true
      this.currentUser = JSON.parse(sessionStorage.getItem('session'))
    }
    this.$store.dispatch('title/getTitle')
  },
  components: {
    Footer,
  },
  methods: {
    logOutUser() {
      this.$store.dispatch('user/logOutUser')
      this.currentUser = null
      this.session = false
    },
    setCurrentUser() {
      if (localStorage.getItem('session')) {
        this.session = true
        this.currentUser = JSON.parse(localStorage.getItem('session'))
      }
      if (sessionStorage.getItem('session')) {
        this.session = true
        this.currentUser = JSON.parse(sessionStorage.getItem('session'))
      }
      this.$store.dispatch('user/resetValues')
    },
  },
}
</script>

<style>
@import './assets/styles/global.scss';
@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,500,700|Material+Icons';
</style>
