:root {
  --azul: #004780;
  --naranjo: #f90;
  --gris: #aeaeae;
  --azul-gris: #5c7380;
}

body,
.v-application {
  color: var(--azul-gris);
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--azul);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}

// MARGIN HOME
.container-home {
  width: 79%;
  margin-left: 10.5%;
  margin-right: 10.5%;
}

.button {
  margin-top: 1rem;
}

.header {
  align-items: center;
  border-bottom: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    var(--azul) 50%,
    var(--naranjo) 50%
  );
  color: var(--gris);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.header a,
.v-application .header a {
  color: var(--naranjo);
}

a.navbar-item:hover,
a.navbar-item:active {
  color: var(--azul);
  background-color: transparent;
  font-weight: bold;
}

.header img {
  max-height: 6rem;
}

.footer {
  color: white;
  padding: 2%;
  background-color: var(--azul-gris);
  text-align: center;
  width: 100%;
}

.dashboard {
  padding: 3% 1%;
  height: calc(100vh - 168px - 65px);
}

h1, h2 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.olla {
  background-color: rgba(255, 153, 0, 0.562) !important;
}

.olla--text {
  color: #004680 !important;
}

.login-form {
  width: 500px;
}

.product .description p {
  height: 72px;
  overflow: hidden;
}

/* OfferDetail */
.post-detail-container {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 1em;
}

.post-title {
  font-size: 3rem !important;
  text-shadow: 0.8px 0.8px 0.8px rgb(43, 42, 42);
}

@media (min-width: 992px) {
  .post-detail-container {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: none;
    box-shadow: none;
  }
  #message {
    margin-top: 58px;
  }
  #notice {
    margin-bottom: 84px;
  }
}

.post-detail-container label {
  color: var(--azul);
  line-height: 20px;
  text-transform: uppercase;
}

.post-detail-container p {
  color: black;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-bottom: 8px;
  width: 100%;
}

#comments {
  border-radius: 5px;
  color: var(--azul);
  font-size: 18px;
  height: auto;
  line-height: 22px;
  padding: 14px;
  text-align: start;
}

#notice {
  border: none;
  height: auto;
  margin-bottom: 35px;
}

.template-line {
  width: 5rem;
  height: 0.5px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 1px;
  background-color: var(--naranjo);
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

.v-expansion-panels {
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

button .is-primary,
.is-primary.theme--light.v-btn.v-btn--has-bg {
  background-color: var(--azul);
  color: white;
}

.v-card__subtitle.comment {
  padding: 16px;
}

.categories {
  height: 112px;
  overflow-y: auto;
}

.precio-oferta {
  font-weight: bold;
}

.comments {
  max-height: 253px;
  overflow-y: auto;
}

.tachado {
  text-decoration: line-through;
}

.v-chip.v-chip--label.theme--light.v-size--default.naranjo {
  background-color: var(--naranjo);
}

.v-chip.v-chip--clickable.theme--light.v-size--default.azul {
  background-color: var(--azul);
  color: white;
}

.v-btn.v-btn--block.v-btn--has-bg.theme--light.v-size--default.primary {
  background-color: var(--azul) !important;
  border-color: var(--azul) !important;
}

.product .v-card__title {
  align-items: baseline;
  height: 96px;
  overflow: hidden;
}

.product .price .v-chip.v-size--default {
  font-size: 16px;
}

.product {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}

.product .v-card__actions {
  align-self: self-end;
}

.product .theme--light.v-btn.deep-azul--text {
  color: var(--azul-gris);
}

.product .discount {
  align-items: center;
  display: flex;
  justify-content: center;
  left: -17px;
  position: absolute;
  top: -17px;
}

.product .thumbnail {
  display: block;
  position: relative;
}

.product .discount p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.hexagon {
  background-color: var(--naranjo);
  height: 34.64px;
  margin: 17.32px 0;
  position: relative;
  width: 60px;
}

.hexagon:before,
.hexagon:after {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  content: '';
  position: absolute;
  width: 0;
}

.hexagon:before {
  border-bottom: 17.32px solid var(--naranjo);
  bottom: 100%;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid var(--naranjo);
}

@media (min-width: 1500px) {
  .precio.v-chip.v-size--default {
    font-size: 1.25rem;
  }
}

.filters.theme--light.v-list {
  background-color: white;
  border-left: var(--gris);
  height: calc(100vh - 12px);
}

.theme--light.v-chip:not(.v-chip--active).precio {
  background-color: var(--azul);
}

.filters v-list-tile.white {
  display: flex;
  align-items: center;
}

.filters .theme--light.v-list {
  background-color: transparent;
}

.filters v-list-tile.transparent {
  display: flex;
  align-items: center;
  line-height: 1;
}
.filters .theme--light.v-subheader {
  background-color: var(--azul);
  font-size: 1.25rem;
  font-weight: 800;
  height: auto;
}

.search-title {
  color: white;
  width: 100%;
  text-align: center;
}

.palpitar {
  animation: palpitar 0.5s linear infinite alternate;
}

// MIS ANUNCIOS
.table thead th {
  vertical-align: middle;
}
.table td,
.table th {
  vertical-align: middle;
}
tbody .table-height {
  height: 80px;
}
tbody tr .offer-price {
  font-weight: bold;
  width: 15%;
}
tbody tr .description {
  width: 30%;
}
tbody tr .price {
  width: 15%;
}
tbody tr .date {
  width: 20%;
}
tbody tr .to-post {
  width: 20%;
}

@keyframes palpitar {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
  }
}


.filters .options {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,900,900i&display=swap');
